body 
{
	font: 12px Verdana,Serif,Arial;
	line-height: 18px;
	color: #383838;
}
h1
{
	font-family: Georgia, serif;
	font-style:italic;
	font-size: 12px;
}
img
{
	border: 0;
}
table, table td 
{ 
	padding:0;
	border-collapse:collapse;
}
#wrapper
{
	width:920px;
	margin:0 auto;
}
#header 
{
	height:100px;

}
#header .logo
{
	float:left;
	width:400px;
	height:70px;
}
#header .menu
{
	clear:both;
	float:right;
	width:50%;
	height:30px;
}
#header .smalcart
{
	float:right;	
	height:55px;
	padding: 10px;
	padding-left: 15px;
	margin: 10px;
	border: 1px solid gray;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;  
	background: #E8D395;
}
#content 
{	
	width:100%;
	float:left;
	min-height: 440px;
}
#header .menu li
{
	float:left;
	margin-right: 40px;
	margin-top: -10px;
	list-style:none;
	text-transform:uppercase;
	font-weight:bold;
	text-align:center;
	display:block;
}
#footer
{
	clear: both;
	float:left;
	height:60px;
	width:100%;
	text-align:right;
}
.product
{
	float:left;
	border: 1px solid gray;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;  
	text-align:center;
	padding: 10px;
	width:150px;
	height:150px;
	margin: 10px;
}
.card_product
{
	float:left;
	border: 1px solid gray;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;  
	background:#e5e5e5;
	text-align:center;
	padding: 10px;
	margin: 10px;
}
.card_product .product_image
 {
	border: 1px solid gray;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	background:#fff;	
	margin: 10px;
	padding: 10px;
}
.card_product .product_desc
{
	float:left;
	font-style: italic;
	text-align:left;
	padding: 10px;

}
.card_product .product_buy a
{
	float:right;
	padding: 5px;
	font-size: 12pt;
	margin: 10px;
}
.card_product .price{
	clear:both;
	float:left;
	color:green;
	padding: 5px;
	font-size: 12pt;
	font-weight: 600;
	margin: 10px;
}
.product_buy 
{
	margin-top: 5px;
}
.product_image img
{
	border: 0;
	width:80px;
	height:80px;
}
.product_buy a
{
	padding: 4px;
	background:yellow;	
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;  
	text-decoration: none; 
}
.product_buy a:hover
{
	color:white;
}
.product h2
{
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	color: green;
	margin: 0px;
}
.table_cart
 {
	width:80%;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	color: #383838;
	margin: 0px;
	border: #808080 solid 1px;
}
.table_cart th
{
	font-family: Georgia, serif;
	font-style:italic;
	font-size: 11px;
	color: black;
	margin: 0px;	
}
.table_cart td
{
	text-align: center;
	padding: 5px 0px;
}
.table_order_form  td
{
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	color: #383838;
	padding: 3px 5px;
	border: #808080 solid 1px;
}