body{
	margin:0;
	padding:0;
	background: #f1f2f7;
	font: 13px arial, sans-serif; 
	background:  #e1e7f1;
	font-family: Calibri;
	font-size: 10pt;
}
img{
padding:0;
margin:0;
background:none;
display:inline;
	vertical-align:bottom;

	border:0;
}
table{
padding:0;
border-collapse:collapse;
border: #C9D7F1 solid 1px;	
}
td{
padding:5px;
border-collapse:collapse;
border: #C9D7F1 solid 1px;	
}

.login_form{
	width:350px;
	padding:0 20px;
	top:20%;
	left:40%;
	position:absolute;
	white-space:nowrap;
	border:1px solid #dddddd;
	background: url('images/bg_panel.png') repeat;
	border-bottom:1px solid #cccccc;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.login_form h2{

	padding:10px 10px 0px 20px;
	margin:0;
	font-family:Trebuchet MS;
	font-size:1.3em;
	font-weight:normal;
}

#message_box{
float:left;
height:30px;

width:600px;
padding:5px;
}
#message{
display: none;
padding:5px;
float:left;
height:18px;
color: #65696f;
border: #588a41 solid 2px;	
background: #9abb8b;
}
#header{
	height:18px;
	float:left;
	width:100%;
	background: url('images/bg_panel.png') repeat;
	border-bottom:1px solid #C9D7F1;
	padding:5px;	
}

#header a{
	font: 13px arial, sans-serif; 
	color: gray;
	text-decoration: none;
}

#header a:hover{
	color: orange;
}

#header .menu{
	float:left;
	margin-top:1px;
}

#header .menu ul{
	margin:0;
	padding:0;
	list-style:none;
}

#header .menu ul li{
	float:left;
	margin-right:15px;
	padding:0 15px 0 23px;
	border-right:1px solid #C9D7F1;
}


#header .menu li.page{
	background:url(images/icons/page.png) 0 50% no-repeat;
}

#header .menu li.menu{
	background:url(images/icons/menu.png) 0 50% no-repeat;
}
#header .menu li.settings{
	background:url(images/icons/settings.png) 0 50% no-repeat;
}
#header .menu li.products{
	background:url(images/icons/products.png) 0 50% no-repeat;
}





#header .user{
float:right;
margin-right:15px;
}

#content{
	float:left;
	width:100%;
	margin-top:-20px;
	padding: 20px;
}
#content h1{
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 16px;
	color: #65696f;
	margin: 0px 0px 20px 0px;	
}	

#content h2{
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 13px;
	color: #65696f;
	margin: 5px 0px 5px 0px;	
}	
.catalog_table{
width: 860px;
padding:0;
border-collapse:collapse;
margin-top:20px;
}


.catalog_table th{
	border: #808080 solid 1px;
	background: #72a25d;
	font-family: Georgia, serif;
	font-style:italic;
	font-size: 11px;
	color: black;
	margin: 0px;	
	padding:5px;
}


.catalog_table  td{
	font-family: 'Courier New', Courier, monospace;
	font-size: 10pt;
	font-size: 14px;
	color: #383838;
	padding: 3px 5px;
	border: #808080 solid 1px;	
	background:#e7effd;
}

.catalog_table  td img{
width: 50px;
height:50px
}

.pagination a{
padding:0px 5px 0px 5px;
margin-right:5px;
border: #808080 solid 1px;
background: white;
}
.pagination a:hover{
background: gray;
}

.pagination .activ {

background: gray;
}


.button{
	border:1px solid #dddddd;
	border-bottom-color:#bbbbbb;
	padding:3px 8px 3px 8px;
	background:url(images/button.png) #E0E0E0 repeat-x;
	text-decoration:none;
	color:#000000;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}
.popwindow{
	width: 100%;
	height: 30px;
	float:left;
}

.title_popwindow{
	width: 480px;
	float:left;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 13px;
	color: #65696f;
		
}

.close_popwindow{
	width: 19px;
	height: 19px;
	background:url(images/icons/close.png) no-repeat;
	float:right;
	border:0;
	display:inline;
	vertical-align:bottom;
}

.button img{
	display:inline;
	vertical-align:bottom;

	border:0;
}

.button:hover{
	color:#333333;
	border-color:#bbbbbb;
}

.button:active{
	background:#cccccc;
}

.creat_product{
display:none;
width:520px;
border:1px solid #C9D7F1;
background:#e1e7f1;
background: url('images/bg_panel.png') repeat;
padding: 5px 10px 10px 10px;
margin-top:10px;
border-radius: 10px; 
-moz-border-radius: 10px; 
-webkit-border-radius: 10px;  
}

.creat_product table{
width:520px;
background:#e7effd;

}


.edit_product{
display:none;
width:520px;

border:1px solid #C9D7F1;
background:#e1e7f1;
background: url('images/bg_panel.png') repeat;
padding: 5px 10px 10px 10px;
margin-top:10px;
border-radius: 10px; 
-moz-border-radius: 10px; 
-webkit-border-radius: 10px;  
}

.edit_product table{
background:#e7effd;
width:520px;
}
#edit_preview{
background:#e2e7f1;
border:1px solid #C9D7F1;
padding: 2px;
margin-top:5px;
width:100px;
height:100px;
}
#preview{
background:#e2e7f1;
border:1px solid #C9D7F1;
padding: 2px;
margin-top:5px;
width:100px;
height:100px;
}
.cancel_img{
display:none;
}

.btn_cansel_load_img{
    width:131px;
    height:23px;
	display:none;
}
.edit_btn_cansel_load_img{
    width:131px;
    height:23px;
	display:none;
}
.edit_btn_load_img{
overflow:hidden;
      width:131px;
      height:23px;
      cursor:pointer;
	  cursor:hand;
      background:url('images/download.png') no-repeat;
}

.edit_btn_load_img   input {
   width:131px;
      height:23px;
      opacity:0;
      filter:alpha(opacity:0);
      font-size:199px;
      cursor:pointer;
      padding:0px;
      margin:0px;
      border:none;
     /* margin-left:-450px;*/
	  cursor:hand;

}

.btn_load_img{
overflow:hidden;
      width:131px;
      height:23px;
      cursor:pointer;
	  cursor:hand;
      background:url('images/download.png') no-repeat;
	
}

.btn_load_img  input {
   width:131px;
      height:23px;
      opacity:0;
      filter:alpha(opacity:0);
      font-size:199px;
      cursor:pointer;
      padding:0px;
      margin:0px;
      border:none;
     /* margin-left:-450px;*/
	  cursor:hand;

}
#login_form_table {border:none; !important;}
#login_form_table td{
padding:3px;
border-collapse:collapse;
border: 0;	
}